:root{
    --eerie: #181a1b;
    --chibla: #131516;
    --charcoal: #202020;
    --coarent: #333131;
    --sunset: #ff5757;
    --gtw: 180px;
    --gth: 180px;
}

p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2rem;
    color: white;
}

.main{
    margin-top: 10vh;
    display: grid;
    justify-self: center;
    background-color: #404040;
}

.menu-header{
    margin-top: 50px;
    margin-bottom: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: #303030;
}
.title{
    color: white;
}
.score{
    color: white;
}
.best{
    color: white;
}

.game-primary{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    background-color: #202020;
    height: auto;
}

.unselected{
    background-color: #101010;
}

.selected{
    background-color: red;
}

.game-tile{
    align-content: center;
    justify-items: center;
    width: var(--gtw);
    height: var(--gth);
    transition: all 0.2s;
}

.game-inventory{
    margin-top: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    background-color: #303030;
    height: 25vh;
}

.game-inv-tile{
    align-content: center;
    justify-items: center;
    width: var(--gtw);
    height: var(--gth);
}